.chat-list-container {
    flex: 1;
    overflow-y: auto;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.chat-list-message-wrapper {
    width: 100%;
    display: flex;
    padding: 0 8px;
}

.chat-list-message-content {
    max-width: 65%;
    min-width: 300px;
}

.chat-list-message-mine {
    justify-content: flex-end;
}

.chat-list-message-theirs {
    justify-content: flex-start;
}
